<div class="row">
  <div class="col-md-3 aside">
    <div class="row text-center">
      <%= link_to image_tag(@user.avatar, alt: @user.fullname,
        size: Settings.size_avatar), user_path(@user) %>
      <br>
      <h2><%= @user.fullname %></h2>
    </div>
    <div class="row">
      <%= render "follow_form" unless current_user.current_user?(@user) %>
    </div>
    <div class="row text-center">
      <%= render "shared/stats" %>
    </div>
    <div class="row text-center">
      <p class="text-center">
        <b>
          <%= t "home.join_date",
            time: @user.created_at.to_date.strftime(Settings.time_format) %>
        </b>
        <br>
        </b><br>
        <b><%= t "home.learned", word_learned: @word_learned.size %></b><br>
      </p>
    </div>
  </div>
  <div class="col-xs-9 right-content">
    <div class="row text-center btn-top">
      <h2 class="text-left"><%= t "home.activities" %></h2>
    </div>
  </div>
</div>
