<div class="row">
  <div class="field_category">
    <div class="col-xs-6 col-md-4">
      <div class="category" %>
        <b><%= t "title.category_name", category_name: @category.name %></b><br>
        <b><%= t "title.description", description: @category.description %></b>
      </div>
    </div>
    <br>
    <div class="col-md-5" id="list_word">
      <div class="row" >
        <h2 class="center"><%= t "header.words" %></h2><br>
        <%= render "word" %>
        <center><%= will_paginate @words %></center>
      </div>
    </div>
  </div>
</div>
